;; Copyright 2020 Evident Systems LLC

;; Licensed under the Apache License, Version 2.0 (the "License");
;; you may not use this file except in compliance with the License.
;; You may obtain a copy of the License at

;;     http://www.apache.org/licenses/LICENSE-2.0

;; Unless required by applicable law or agreed to in writing, software
;; distributed under the License is distributed on an "AS IS" BASIS,
;; WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
;; See the License for the specific language governing permissions and
;; limitations under the License.
#kaocha/v1
{:tests    [{:kaocha.testable/type :kaocha.type/clojure.test
             :kaocha.testable/id   :unit-clj
             :kaocha/ns-patterns   ["-test$"]
             :kaocha/source-paths  ["src"]
             :kaocha/test-paths    ["test"]}
            {:kaocha.testable/type :kaocha.type/cljs2
             :kaocha.testable/id   :unit-cljs
             :kaocha/ns-patterns   ["-test$"]
             :kaocha/source-paths  ["src"]
             :kaocha/test-paths    ["test"]}]
 :plugins  [:kaocha.plugin/profiling]
 :reporter [kaocha.report/dots]}
