;; Copyright 2020 Evident Systems LLC

;; Licensed under the Apache License, Version 2.0 (the "License");
;; you may not use this file except in compliance with the License.
;; You may obtain a copy of the License at

;;     http://www.apache.org/licenses/LICENSE-2.0

;; Unless required by applicable law or agreed to in writing, software
;; distributed under the License is distributed on an "AS IS" BASIS,
;; WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
;; See the License for the specific language governing permissions and
;; limitations under the License.
{:paths ["src" "resources"]
 :deps
 {org.clojure/clojure  {:mvn/version "1.10.3"}
  org.clojure/data.avl {:mvn/version "0.1.0"}
  juji/editscript      {:mvn/version "0.5.7"}
  danlentz/clj-uuid    {:mvn/version "0.1.9"}}
 :aliases
 {:cljs
  {:extra-deps
   {thheller/shadow-cljs {:mvn/version "2.11.18"}}}
  :dev
  {:extra-paths ["dev"]
   ;; cf. https://github.com/clojure-goes-fast/clj-async-profiler#jvm-options
   :jvm-opts    ["-Djdk.attach.allowAttachSelf"
                 "-XX:+UnlockDiagnosticVMOptions"
                 "-XX:+DebugNonSafepoints"]
   :extra-deps
   {org.clojure/tools.namespace              {:mvn/version "RELEASE"}
    com.clojure-goes-fast/clj-async-profiler {:mvn/version "RELEASE"}
    com.clojure-goes-fast/clj-memory-meter   {:mvn/version "RELEASE"}}}
  :test
  {:extra-paths ["test"]
   :extra-deps
   {lambdaisland/kaocha        {:mvn/version "RELEASE"}
    lambdaisland/kaocha-cljs2  {:mvn/version "RELEASE"}
    criterium/criterium        {:mvn/version "RELEASE"}
    org.clojure/test.check     {:mvn/version "RELEASE"}
    com.cognitect/transit-clj  {:mvn/version "RELEASE"}
    com.cognitect/transit-cljs {:mvn/version "RELEASE"}}}}}
