;; Copyright 2020 Evident Systems LLC

;; Licensed under the Apache License, Version 2.0 (the "License");
;; you may not use this file except in compliance with the License.
;; You may obtain a copy of the License at

;;     http://www.apache.org/licenses/LICENSE-2.0

;; Unless required by applicable law or agreed to in writing, software
;; distributed under the License is distributed on an "AS IS" BASIS,
;; WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
;; See the License for the specific language governing permissions and
;; limitations under the License.
{:paths ["src" "resources"]
 :aliases
 {:cljs
  {:extra-deps
   {thheller/shadow-cljs {:mvn/version "2.11.4"}}}

  :dev
  {:extra-paths ["dev" "test"]
   :extra-deps
   {org.clojure/test.check      {:mvn/version "0.10.0"}
    org.clojure/tools.namespace {:mvn/version "1.0.0"}
    eftest                      {:mvn/version "0.5.3"}
    criterium                   {:mvn/version "0.4.6"}
    ;; Managed transitive eftest dep for Java 11
    org.clojure/core.rrb-vector {:mvn/version "0.1.1"}}}

  :test
  {:extra-paths ["test"]
   :extra-deps  {org.clojure/test.check {:mvn/version "0.10.0"}}}

  :runner
  {:extra-deps {com.cognitect/test-runner
                {:git/url "https://github.com/cognitect-labs/test-runner"
                 :sha     "f7ef16dc3b8332b0d77bc0274578ad5270fbfedd"}}
   :main-opts  ["-m" "cognitect.test-runner"
                "-d" "test"]}}

 :deps {org.clojure/clojure    {:mvn/version "1.10.1"}
        org.clojure/spec.alpha {:mvn/version "0.2.187"}
        org.clojure/data.avl   {:mvn/version "0.1.0"}
        juji/editscript        {:mvn/version "0.4.6"}
        danlentz/clj-uuid      {:mvn/version "0.1.9"}}}
