;; Copyright 2020 Evident Systems LLC

;; Licensed under the Apache License, Version 2.0 (the "License");
;; you may not use this file except in compliance with the License.
;; You may obtain a copy of the License at

;;     http://www.apache.org/licenses/LICENSE-2.0

;; Unless required by applicable law or agreed to in writing, software
;; distributed under the License is distributed on an "AS IS" BASIS,
;; WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
;; See the License for the specific language governing permissions and
;; limitations under the License.
{:paths ["src"]
 :deps  {converge/nippy    {:git/url   "https://github.com/evidentsystems/converge.git"
                            :git/sha   "2c18eae54322555c8db58b129c1b1f2995635de1"
                            :deps/root "./nippy"}
         converge/converge {:git/url   "https://github.com/evidentsystems/converge.git"
                            :git/sha   "2c18eae54322555c8db58b129c1b1f2995635de1"
                            :deps/root "./converge"}}
 :aliases
 {:local
  {:override-deps {converge/nippy    {:local/root "../nippy"}
                   converge/converge {:local/root "../converge"}}}

  :dev
  {:extra-paths ["dev"]
   ;; cf. https://github.com/clojure-goes-fast/clj-async-profiler#jvm-options
   :jvm-opts    ["-Djdk.attach.allowAttachSelf"
                 "-XX:+UnlockDiagnosticVMOptions"
                 "-XX:+DebugNonSafepoints"]
   :extra-deps
   {org.clojure/tools.namespace              {:mvn/version "1.1.0"}
    criterium/criterium                      {:mvn/version "0.4.6"}
    com.clojure-goes-fast/clj-async-profiler {:mvn/version "0.5.1"}}}

  :test
  {:extra-paths ["test"]
   :extra-deps
   {org.clojure/test.check {:mvn/version "1.1.0"}
    io.github.cognitect-labs/test-runner
    {:git/tag "v0.5.0" :git/sha "48c3c67"}}}

  :build
  {:deps       {io.github.seancorfield/build-clj
                {:git/tag "v0.5.2" :git/sha "8f75b81"}}
   :ns-default build}}}
